@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

maintext {
    text-align: center;
    font-size: 4em;
    font-family: 'Ubuntu Mono', monospace;
    top: 50%;
    left: 50%;
}

div.a {
  text-align: center;
}
