@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

maintext {
    font-size: 4em;
    font-family: 'Ubuntu Mono', monospace;
}

smallermaintext {
    font-size: 1em;
    font-family: 'Ubuntu Mono', monospace;
}
